*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.register{
    border-right: 3px;
    border-right-style: groove;
    padding: 4rem;
}

.section-comments{
    width: 50%;
    

}
#comments{
    overflow-y: scroll;
    height: 600px;
    padding: 4rem;
}
.card{
    margin: 1rem;
}


